---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";

const pathname = Astro.url.pathname;
const { nav_button } = config;
---

<header class="header">
  <nav class="navbar container" aria-label="Main">
    <Logo />

    <input id="nav-toggle" type="checkbox" class="peer hidden" />
    <label
      for="nav-toggle"
      class="order-2 cursor-pointer md:hidden"
      aria-label="Toggle navigation"
    >
      <svg class="h-6 w-6 fill-current" viewBox="0 0 20 20" aria-hidden="true">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>

    <ul
      class="navbar-nav order-3 hidden w-full peer-checked:flex peer-checked:flex-col md:order-1 md:flex md:w-auto md:flex-row"
    >
      {
        menu.main.map((item) => (
          <li>
            <a
              href={item.url}
              class={`nav-link ${pathname === item.url ? "nav-link-active" : ""}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        nav_button.enable && (
          <li class="mt-4 md:mt-0 md:ml-6">
            <a class="btn btn-primary" href={nav_button.link}>
              {nav_button.label} <span aria-hidden="true">→</span>
            </a>
          </li>
        )
      }
    </ul>
  </nav>
</header>
