---
import Base from "@/layouts/Base.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { regular: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<Base title={page.data.title} meta_title={page.data.meta_title} description={page.data.description}>
  <section class="section pt-32 md:pt-40">
    <div class="container max-w-3xl!">
      <h1>{page.data.title}</h1>
      <div class="content mt-10">
        <Content />
      </div>
    </div>
  </section>
</Base>
